html,
body {
  padding: 0;
  margin: 0;
  background-color: black;
  color: white;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

pre {
  background-color: #6c6c6c;   /* Example background color */
  padding: 10px;               /* Add some padding */
  border-radius: 5px;          /* Rounded corners */
  overflow-x: auto;            /* Horizontal scroll for long lines */
  font-size: 14px;             /* Ensure readable font size */
  max-width: 100%;             /* Ensure the pre block doesn’t exceed the container width */
}

@media screen and (max-width: 600px) {
  pre {
    font-size: 12px;         /* Smaller font size for small screens */
  }
}

.logo-container {
  display: flex;
  justify-content: start;
}
.logo-link {
  margin: 0 8px;
}
.logo-image {
  width: 48px;
  height: 48px;
  object-fit: contain;
}

.black-white {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}